
body {
    font-family: "Montserrat", sans-serif;
}

#container {
    width:auto;
    margin-left: auto;
    margin-right:auto;

    background-color:black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius:10px;
}


#menu {
    text-align: center;
    clear: both;
    padding-bottom: 2px;
    padding-top: 2px;
}
.menu_item {
    display: inline;
    text-decoration: none;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    color: black;
    padding: 0 3px 0 3px;
    background-color: rgba(0,0,0,.4);
}
.menu_item:hover {
    border-style:inset;
    
}
.menu_link {
    text-decoration:none;
}
.menu_link:focus {
    text-decoration:underline;
}

#main {
    background-color:black;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.demo_table {
    border-collapse:collapse;
    border:1px solid gray;
}
.demo_table  th{
    padding:3px;
    text-align:left;
}
.demo_table  td{
    border-top:1px solid gray;
    padding:3px;
}
.demo_table  #browser_note{
    text-align:center;
    font-size: smaller;
    color: gray;
}

hr {
    clear:both;
}

.prettyprint {

     max-height:400px;
     overflow-y:scroll;
}
